<div class="card">
  <div *ng-if="routine">
    <form (change)="handleChange()">
      <div *ng-for="#liftEntry of entry.lifts">
        <div class="card">
          <div class="card-content">
            <h3 class="card-title">{{liftEntry.lift.name}}</h3>
            <div class="sets">
              <div *ng-for="#set of liftEntry.sets; #setNumber = index" class="lift-set">
                <span>Set {{setNumber + 1}}:</span>
                <input type="number" class="short-input" [attr.placeholder]="set.suggestedReps"
                      [(ng-model)]="set.actualReps">&nbsp;&times;&nbsp;
                <input type="number" class="short-input" [attr.placeholder]="set.suggestedWeight"
                      [(ng-model)]="set.actualWeight">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ng-if="!routine">
    Loading..
  </div>
</div>